body {
    background-color: #2d4a75;
    color: whitesmoke;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h1,h2 {
    text-align: center;
}

.general-div{
    display: flex;
}