body {
    background-color: #0e1e31;
    color: whitesmoke;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h1,h2 {
    text-align: center;
    margin: 15px auto;
}

h2{
    margin: 10px auto;
}

.general-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 50px;
}

section{
    width: 450px;
    padding: 0 10px;
}

p {
    text-align: justify;
    margin: 10px 0px;
}

pre {
    background-color: black;
    border-radius: 10px;
    white-space: pre-line;
    padding-left: 10px;
}

span{
    white-space: pre;
}

.code-example{
    margin: 0 auto;
    width: fit-content;
}

.selector{
    color: goldenrod;
}

.symbol {
    color: darkmagenta;
}

.property {
    color: dodgerblue;
}

.function {
    color: cyan;
}

.value {
    color: darkgoldenrod;
}

.color-content{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.position{
    order: 2;
}

.block{
    width: 35px;
    height: 35px;
    border-radius: 7px;
    border: 2px solid white;
}

/*----------------------RGB COLORES-------------------*/
.code-size-rgb{
    order: 1;
    width: 270px;
    margin: 5px 0;
}

.rgb-red{
    background-color: rgb(255, 0, 0);
}

.rgb-green{
    background-color: rgb(0, 255, 0);
}

.rgb-blue{
    background-color: rgb(0, 0, 255);
}

.rgb-words{
    border-radius: 7px;
}

/*----------------------HEX COLORES-------------------*/

.code-size-hex{
    order: 1;
    width: 130px;
    margin: 5px 0;
}

.hex-red {
    background-color: #ff0000;
}

.hex-green {
    background-color: #00ff00;

}

.hex-blue {
    background-color: #0000ff;
}

/*----------------------HSL MODEL-------------------*/

.code-size-hsl {
    order: 1;
    width: 300px;
    margin: 5px 0;
}

.hsl-red{
    background-color: hsl(0, 100%, 50%);
}

.hsl-green{
    background-color: hsl(120, 100%, 50%);
}

.hsl-blue{
    background-color: hsl(240, 100%, 50%);
}

/*----------------------GRADIENT-------------------*/

.code-size-grad{
    order: 1;
    width: 280px;
    margin: 5px 0;
}

.grad-red{
    background: 
    linear-gradient(0deg, 
    rgb(255,0,0), 
    rgb(0,255,0), 
    rgb(0,0,255));
}

.grad-green{
    background: 
    linear-gradient(120deg,
    #ff0000,#00ff00,#0000ff);
}

.grad-blue{
    background: 
    linear-gradient(240deg,
    hsl(0, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(240, 100%, 50%));
}

/*----------------------MEDIA QUERYS-------------------*/

@media (max-width: 500px) {

    .color-content {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    span {
        white-space: pre-line;
    }
}

@media (max-width: 300px){
    .code-size-rgb, .code-size-hsl, .code-size-hex{
        width: fit-content;
    }
}
