body {
    background-color: #1c2738;
    color:  whitesmoke;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    text-align: center;
    margin: 15px 0 10px 0;
}

.general-div {
    display: flex;
    gap: 50px;
}

.left-section {
    flex: 1;
    margin-left: 15px;
}

.right-section {
    flex: 1;
    margin-right: 15px;
}

/* RGB COLORS */
section {
    width: 70%;
    padding: 10px 0;
    margin: 10px auto;
}

p {
    text-align: justify;
    margin: 10px 0px;
}

.code-example {
    margin: 0 auto;
    max-width: 400px;
}

pre {
    background-color: black;
    border-radius: 10px;
    white-space: pre-line;
    margin: 0px;
    width: 100%;
    padding-left: 15px;
}

span {
    white-space: pre;
}

.selector{
    color: goldenrod;
}

.symbol {
    color: darkmagenta;
}

.property {
    color: dodgerblue;
}

.function {
    color: cyan;
}

.value {
    color: darkgoldenrod;
}

.color-paragraph {
    text-align: center;
    font-size: 14px;
    margin-top: 25px;
}

.color-content {
    overflow: hidden;
    width: 350px;
    margin: 10px auto;
}

.code-size {
    max-width: 270px;
    float: left;
}

.position {
    float: right;
}

.block{
    width: 35px;
    height: 35px;
    margin: 20px auto;
    border-radius: 7px;
}

.rgb-red{
    background-color: rgb(255, 0, 0);
}

.rgb-green{
    background-color: rgb(0, 255, 0);
}

.rgb-blue{
    background-color: rgb(0, 0, 255);
}

.rgb-words{
    border-radius: 7px;
}

/* pre, code {
    white-space: pre-line;
}

pre > code > span {
    white-space: pre;
}

pre {
    background-color: rgb(36, 12, 92);
    padding-left: 10px;
} */
/* RGB COLORS */

/* HEX COLORS */
.color-content-hex {
    overflow: hidden;
    width: 230px;
    margin: 10px auto;
}

.code-size-hex {
    max-width: 150px;
    float: left;
}

.hex-red {
    background-color: #ff0000;
}

.hex-green {
    background-color: #00ff00;

}

.hex-blue {
    background-color: #0000ff;
}

/*HSL MODEL*/
.color-content-hsl {
    overflow: hidden;
    width: 380px;
    margin: 10px auto;
}

.code-size-hsl {
    max-width: 300px;
    float: left;
}

.hsl-red{
    background-color: hsl(0, 100%, 50%);
}

.hsl-green{
    background-color: hsl(120, 100%, 50%);
}

.hsl-blue{
    background-color: hsl(240, 100%, 50%);
}

/*MEDIA QUERYS*/
@media (max-width: 750px) {
    .color-content, .color-content-hex, .color-content-hsl {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .code-size, .code-size-hex, .code-size-hsl {
        float: none;
        margin: 0;
    }

    .position {
        float: none;
    }

}

/*GENERAL QUERY*/
@media (max-width: 650px) {
    .general-div {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .left-section, .right-section{
        margin: 0 20px;
    }
}

@media (max-width: 450px) {
    
    span {
        white-space: pre-line;
    }

}


