body{
  font-family: sans-serif;
  margin: 0;
  background-color: rgb(27, 27, 58);
}

header{
  color: white;
  background-color: #0a0a23;
  border-bottom: 4px solid #fdb347;
  text-align: center;
  padding: 32px;
}

h1{
  margin: auto 0;
}

/*--------main---------*/

.principal-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container{
  width: 250px;
  border: 5px solid black;
  margin: 20px auto;
}

.content{
  width: 250px;
  height: 350px;
  background: linear-gradient(120deg,#eca790 20%,#b35131);
  overflow: hidden;
}

.one{
  width: 240px;
  height: 130px;
  margin: 15px auto;
  overflow: hidden;
  border-radius: 10px 2px 5px 35px;
  box-shadow: 3px -3px 5px 10px #b35131;
  background-color: #e64413; 
  transform: rotate(1.6deg);
}

.two{
  width: 220px;
  height: 70px;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: -3px 6px 15px 5px #de9e35;
  background-color: #de9e35;
  transform: rotate(-1.6deg);
}

.three{
  width: 240px;
  height: 100px;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: -3px 2px 1px 3px #e64413;
  background-color: #e64413; 
  transform: rotate(1deg);

}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cat1 {
  object-position: center 70%;
  opacity: 0.35;
  filter: blur(6px);
}

.cat2{
  object-position: center 30%;
  opacity: 0.45;
  filter: blur(6px);
}

.cat3{
  object-position: center 70%;
  opacity: 0.45;
  filter: blur(3px);
}




