*{
  box-sizing: border-box;
}

html{
  font-size: 16px;;
}

body{
  background-color: #0c2544;
  color: #ece7e7;
  font-family: 'Open Sans', sans-serif;
}

.container{
  width: 270px;
  padding: 0 7px;
  border: 2px solid white;
  margin: 20px auto;
}

.bold{
  font-weight: 800;
}

.small-text p{
  border-bottom: 1px solid #888989;
}

.divider-large {
  border-bottom: 10px solid white;
}

.divider-medium {
  border-bottom: 5px solid white;
}

.small-text{
  font-size: 0.85rem;
}

h1{
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px;
  border-bottom: 1px solid #888989;
  margin: 2px 0;
}

p{
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.calories-info{
  font-size: 2em;
  margin: -4px -2px;
  font-weight: 700;
}

.calories-size{
  font-size: 1.2em;
  margin: -4px -2px;
}

.right{
  justify-content: flex-end;
}

.indent{
  margin-left: 1em;
}

.double-indent{
  margin-left: 2em;
}

.note{
  font-size: 0.6rem;
  margin: 5px 0;
  padding: 0 8px;
  text-indent: -8px;
  text-align: justify;
}

h5{
  font-size: 0.6rem;
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px;
  margin: 2px 0;
}

.credits{
  text-align: center;
  font-size: 9px;
}

a{
  color: white;
}
