body {

  color: #f3f3f3;
  font-family: 'Poppins', sans-serif;
  
  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8),rgba(136, 136, 206, 0.5)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1,p{
  text-align: center;
}

form{
  max-width: 600px;
  margin: 0 auto;
  background: rgba(27, 27, 50, 0.8);
  padding: 2.5rem;
  border-radius: 0.25rem;
}

fieldset{
  padding: 0;
  margin: 0;
  border: none;
}

label{
  display: block;
}

input, select, textarea{
  width: 100%;
  padding: 0;
  border: none;
}

.inline{
  width: unset;
}


